MONGODB_USERNAME=tais15oliva
MONGODB_PASSWORD=CBGG2DvKeKcv4FMO
MONGODB_NAME=cardapio


DATABASE_URL=mongodb+srv://${MONGODB_USERNAME}:${MONGODB_PASSWORD}@cluster0.tawzcp8.mongodb.net/${MONGODB_NAME}?retryWrites=true&w=majority

